$var menu: menu_setting

<form class="form-horizontal" method="post">
	<div class="control-group">
		<label class="control-label" for="username">测试账号：</label>
		<div class="controls">
			<input type="text" id="username" name="username" placeholder="请输入测试账号"/>
		</div>
	</div>
    <div class="control-group">
        <label class="control-label" for="password">密码：</label>
        <div class="controls">
            <input type="text" id="password" name="password" placeholder="请输入测试账号密码"/>
        </div>
    </div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary">新增</button>
			<a href="list" class="btn btn-mini">返回</a>
		</div>
	</div>
</form>